.game-tab {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #20222a;
  border-radius: 12px;
  padding: 10px 20px;
  margin-right: 4px;
  color: white;
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  span {
    margin-right: 12px !important;
  }
  &:hover {
    cursor: pointer;
  }
}
