@import "../../assets/scss/variables";

.header-wrapper {
  padding: 19px 36px;

  >div {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .left {
      display: flex;
      align-items: center;

      .app-logo {
        cursor: pointer;

        .desktop-logo {
          svg path:not(:nth-of-type(10)) {
            fill: var(--foreground);
          }

          @include md {
            display: none;
          }
        }

        .mobile-logo {
          display: none;

          @include md {
            display: block;
          }
        }
      }
    }

    .right {
      display: grid;
      align-items: center;
      grid-template-columns: repeat(4, auto);
      grid-gap: 12px;

      // >div:nth-of-type(1) {
      //   @include lg {
      //     display: none;
      //   }
      // }

      @include lg {
        grid-template-columns: repeat(3, auto);
      }
    }
  }

  @include sm {
    padding: 19px 16px;
  }
}