@import '../../assets/scss/variables';

.tooltip {
  position: absolute;
  max-width: 176px;
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--foreground);
  border-radius: 4px;
  padding: 3px 8px;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  color: var(--background);
  width: max-content;
  text-transform: initial;

  @include sm {
    left: 0;
    transform: unset;
  }
}