@import "../../assets/scss/variables";

.slot-game-wrapper {
  padding: 16px 36px;

  .slot-game-grid {
    display: grid;
    grid-template-columns: 1fr 556px;
    grid-column-gap: 24px;
    min-height: calc(100vh - 200px);

    @include lg {
      grid-template-columns: 1fr;
      grid-row-gap: 24px;
    }

    @include sm {
      display: block;
    }
  }

  @include sm {
    padding: 16px 16px;
  }
}