@import "../../../assets/scss/variables";

.dropdown-list {
  padding: 8px;
  border-radius: 12px;
  width: 100%;

  li {
    position: relative;
    list-style: none;
    display: flex;
    align-items: center;
    padding: 12px 9px;
    cursor: pointer;
    border-radius: 12px;
    transition: .3s ease-in-out;

    &:hover {
      background: var(--border-color);
    }

    .selected-item-badge {
      position: absolute;
      right: 8px;
      top: 50%;
      transform: translateY(-50%);
      background: #99EBD8;
      width: 6px;
      height: 6px;
      border-radius: 50%;
    }

    svg {
      margin-right: 8px;
    }

    span {
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 22px;
      color: var(--foreground);
    }
  }
}