@import "../../../assets/scss/variables";

.connect-wallet {
    position: relative;
    background-color: var(--app-menu-background);
    border-radius: 12px;
    .account-address {
        display: flex;
        align-items: center;
        padding: 10px 16px;
        cursor: pointer;
        .avatar {
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background: linear-gradient(136.85deg, #DA5E5E 11.29%, #371794 88.87%);
            margin-right: 8px;
        }
        span {
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            line-height: 22px;
            color: var(--foreground);
        }
    }
    .connect-btn {
        cursor: pointer;
        padding: 10px 16px;
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 22px;
        color: var(--foreground);
    }
    .account-details-popover {
        display: grid;
        grid-gap: 20px;
        width: 300px;
        position: absolute;
        right: 0;
        top: 46px;
        background: var(--account-details-background);
        box-shadow: 0px 4px 12px rgba(21, 21, 28, 0.16);
        border-radius: 16px;
        padding: 24px;
        .wallet-address-section {
            display: flex;
            align-items: center;
            .wallet-type-address {
                margin-left: 20px;
                p {
                    position: relative;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 12px;
                    line-height: 18px;
                    color: #ADB4BD;
                    margin-bottom: 2px;
                    &::after {
                        content: '';
                        background: #99EBD8;
                        width: 6px;
                        height: 6px;
                        border-radius: 50%;
                        position: absolute;
                        margin-left: 8px;
                        margin-top: 7px;
                    }
                }
                > span {
                    position: relative;
                    font-style: normal;
                    font-weight: 700;
                    font-size: 14px;
                    line-height: 22px;
                    color: var(--foreground);
                    cursor: pointer;
                    .copied-text {
                        position: absolute;
                        left: 50%;
                        top: -30px;
                        transform: translateX(-50%);
                        background-color: var(--foreground);
                        border-radius: 4px;
                        padding: 3px 8px;
                        font-style: normal;
                        font-weight: 700;
                        font-size: 12px;
                        line-height: 18px;
                        text-align: center;
                        color: var(--background);
                    }
                }
            }
        }
        .available-amount-section {
            display: flex;
            align-items: center;
            justify-content: space-between;
            border: 1px solid var(--border-color);
            border-radius: 12px;
            padding: 20px 16px;
            > div:nth-of-type(1) {
                display: flex;
                align-items: center;
                span {
                    margin-left: 9px;
                    font-style: normal;
                    font-weight: 700;
                    font-size: 14px;
                    line-height: 22px;
                    color: var(--foreground);
                }
            }
            > div:nth-of-type(2) {
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 22px;
                color: #ADB4BD;
            }
        }
    }
}