@import "../assets/scss/_variables.scss";

:root {
  --background: #ffffff;
  --foreground: #15151c;
  --app-background: #F3F5F8;
  --app-menu-background: #ffffff;
  --account-details-background: #ffffff;
  --border-color: #E3E4EC;
  --secondary-button-background: #ffffff;
  --secondary-button-border-color: #E3E4EC;
  --secondary-button-hover-color: #F8F9FC;
  --secondary-button-disabled-color: transparent;
  --outlined-button-background: transparent;
  --outlined-button-border-color: #E3E4EC;
  --outlined-button-hover-color: #F8F9FC;
  --outlined-button-disabled-color: transparent;
  --transparent-button-hover-color: #F8F9FC;
  --select-wallet-hover-color: #F8F9FC;
  --select-wallet-border-color: #EEF1F8;
  --deposit-modal-content-background-color: #F8F9FC;
  --gray: #67707B;
  --slot-statistics-background: rgba(248, 249, 252, 0.6);
  --slot-background: #ffffff;
  --slot-wrapper-background: url('../assets/images/slot-game-bg-light.png');
  --error-color: #FA4440;
  --primary-color: #7451FF;
  --input-disabled-border-color: #ECEDF3;
  --input-disabled-background-color: #FBFBFD;
}

[data-theme='dark'] {
  --background: #15151c;
  --foreground: #ffffff;
  --app-background: #15151c;
  --app-menu-background: #20222A;
  --account-details-background: #282A35;
  --border-color: #333744;
  --secondary-button-background: #333744;
  --secondary-button-border-color: transparent;
  --secondary-button-hover-color: #2A2E39;
  --secondary-button-disabled-color: #15191E;
  --outlined-button-background: transparent;
  --outlined-button-border-color: #333744;
  --outlined-button-hover-color: #2A2E39;
  --outlined-button-disabled-color: #15191E;
  --transparent-button-hover-color: #1D2129;
  --select-wallet-hover-color: #20222A;
  --select-wallet-border-color: #282A35;
  --deposit-modal-content-background-color: #282A35;
  --gray: #ADB4BD;
  --slot-statistics-background: rgba(32, 34, 42, 0.46);
  --slot-background: #B0B4D0;
  --slot-wrapper-background: url('../assets/images/slot-game-bg-dark.png');
  --error-color: #FA4440;
  --primary-color: #7451FF;
  --input-disabled-border-color: #15191E;
  --input-disabled-background-color: #15191E;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  &:focus {
    outline: none;
  }
}

body {
  background-color: var(--app-background);
  font-family: 'Satoshi', sans-serif;
}

.container {
  max-width: $containerWidth;
  margin: 0 auto;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background: rgba(173, 180, 189, 0.4);
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(173, 180, 189, 0.4);
}

::-webkit-scrollbar:horizontal {
  height: 4px;
}

::-webkit-scrollbar-track:horizontal {
  background: none;
}

::-webkit-scrollbar-thumb:horizontal {
  background: rgba(173, 180, 189, 0.4);
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:horizontal:hover {
  background: rgba(173, 180, 189, 0.4);
}